{% extends "base.html" %}

{% block head_content %}
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/payment.css' %}"/>
    <script type="text/javascript" src="{% static 'core/jquery-1.7.min.js' %}"></script>
{% endblock %}

{% block main_content %}
	<form id="payment_form" action="payment_confirmation" method="post">
	{% csrf_token %}
    <fieldset>
        <legend>Payment Details</legend>
        <div id="paymentDetailsSection" class="section">
			{{ paymentForm.as_p }}
        </div>
    </fieldset>
    <input type="submit" id="submit" name="submit" value="Submit"/>
	{% load staticfiles %}
	</form>
	<script type="text/javascript" src="{% static 'core/payment_form.js' %}"></script>
{% endblock %}