{% extends "base.html" %}

{% block head_content %}
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/payment.css' %}"/>
    <script type="text/javascript" src="{% static 'core/jquery-1.7.min.js' %}"></script>
{% endblock %}

{% block main_content %}
	<h1>Amount Paid: {{ amount }}</h1>
	<fieldset id="response">
		<legend>Receipt</legend>
		<div>
			{% for key, value in posted.items %}
				<div>
					<span class="fieldName">{{ key }}</span><span class="fieldValue">{{ value }}</span><br/>
				</div>
			{% endfor %}
		</div>
	</fieldset>
{% endblock %}